<div>
    <img src="../../../assets/img/Profilbild-Platzhalter.png" class="profilePic" alt="">
    
    <div>
        <p class="rotate">I am</p>
        <div>
            <p class="p2">Sascha Nyßen</p>
            <p class="p1">FRONTEND DEVELOPER</p>
            <a class="button1" href="#contact">Let´s Talk!</a>
        </div>
    </div>
</div>

<div class="social">
    <div>
        <div class="line"></div>
        <img src="../../../assets/img/github.png" alt="">
        <img src="../../../assets/img/mail.png" alt="">
        <img src="../../../assets/img/linkedin.png" alt="">
        <p>nysascha1&#64;gmail.com</p>
    </div>
    <p class="scroll">Scroll down →</p>
</div>

<img src="../../../assets/img/shadow1.png" class="profilePicBackground" alt="">