.footer{
    height: 291px;
    background-color: #141D2F;
    border-top: 4px solid #70E61C;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
     >.left{
        padding-left: 100px;
        width: 237px;
        display: flex;
        flex-direction: column;
        >a{
            text-decoration: none;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 400;
        }
     }
     >.middle{
        width: 334px;
        >p{
            font-size: 23px;
            font-weight: 400;
        }
     }
     >.right{
        padding-right: 100px;
        width: 237px;
        display: flex;
        justify-content: end;
        gap: 42px;
     }
}