h1{
    font-size: 90px;
    font-weight: 700;
    margin-top: 0;
    color: #FFFFFF;
}

.skillDiv{
    display: flex;
    padding-right: 88px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    width: 88px;
    height: 101px;
    >.skillImg{
    height: 60px;
    transition: all 0.1s ease-out;
    }
    >.skillTag{
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;
    }
    &:hover img{
        transform: translateY(-10px);
    }
   
}

.cLearning{
    display: flex;
    padding-right: 88px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    width: 88px;
    height: 101px;
    transition: color 0.3s ease, filter 0.3s ease;
    >.skillImg{
    height: 60px;
    width: 60px;
    transition: all 0.1s ease-out;
    background-color: #9747FF;
    mask-image: url("../../../assets/img/learning.png");
    -webkit-mask-image: url("../../../assets/img/learning.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    }
    >.skillTag{
        font-size: 16px;
        font-weight: 700;
        color: #9747FF;
    }
    &:hover img{
        background-color: #FFFFFF;
    }
    &:hover p{
        color: #FFFFFF;
    }
}

.skillLeft{
    margin-left: 100px;
    height: 404px;
    width: 704px;
    flex-wrap: wrap;
}

.textCenter{
    text-align: center;
}

.skills{
    margin-top: 180px;
    justify-content: space-between;
    align-items: center;
}

.line{
    margin-top: 68px;
    margin-left: 36px;
    width: 68px;
    height: 0;
    border: 1px solid #9747FF;
}

.skillRight{
    width: 571px;
    >h1{
        margin-bottom: 30px;
    }
    >.skillText{
        flex-direction: column;
        align-items: end;
        >p{
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 400;
            width: 467px;
            text-align: justify;
        }
    }
}

h2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
}

.h2Color{
    color: #9747FF;
    padding-left: 10px;
}

.button2{
    text-decoration: none;
    display: flex!important;
    align-items: center;
    justify-content: center;
    background-color: #70E61C;
    border-radius: 10px;
    width: 200px;
    height: 58px;
    font-size: 23px;
    color: #FFFFFF;
    font-weight: 400;
    gap: 10px;
    margin-top: 44px!important;
    transition: all 0.1s ease-out;
    transform-origin: top right;
    &:hover{
        background-color: #9747FF;
        transform: scale(1.1, 1.1);
    }
}

.shadow3Div{
    height: 0;
    >img{
        z-index: -1;
        position: relative;
        top: -450px;
        left: -600px;
    }
}

