<div class="flex skills">
    <div class="skillLeft flex">
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/html.png" alt="">
            <p class="skillTag">HTML</p>
        </div>
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/css.png" alt="">
            <p class="skillTag">CSS</p>
        </div>
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/JavScript.png" alt="">
            <p class="skillTag">JavaScript</p>
        </div>
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/Typescript.png" alt="">
            <p class="skillTag">TypeScript</p>
        </div>
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/Angular.png" alt="">
            <p class="skillTag">Angular</p>
        </div>
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/Firebase.png" alt="">
            <p class="skillTag">Firebase</p>
        </div>
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/Git.png" alt="">
            <p class="skillTag">Git</p>
        </div>
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/Api.png" alt="">
            <p class="skillTag">Rest Api</p>
        </div>
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/Scrum.png" alt="">
            <p class="skillTag">Scrum</p>
        </div>
        <div class="skillDiv">
            <img class="skillImg" src="../../../assets/img/Material.png" alt="">
            <p class="skillTag textCenter">Marterial<br>Design</p>
        </div>
        <div class="cLearning">
            <img class="skillImg" src="../../../assets/img/learningtransparent.png" alt="">
            <p class="skillTag textCenter">Continually<br>learning</p>
        </div>
    </div>
    <div class="skillRight flex">
        <div class="flex skillText">
            <h1>My Skills</h1>
            <p>I have worked with various front-end technologies in my projects, including HTML, CSS, and JavaScript, as well as modern frameworks like Angular. Additionally, I have experience with CSS preprocessors such as SCSS and SASS for efficient styling. I have also integrated APIs, optimized performance, and developed responsive designs to ensure a seamless user experience across different devices.</p>
            <div class="flex"><h2>Loocking for </h2><h2 class="h2Color"> another skill</h2><h2>?</h2></div>
            <p>I am passionate about learning new technologies and frameworks. I enjoy exploring new tools, staying up to date with industry trends, and applying my knowledge to build innovative solutions.</p>
            <a class="button2" href="#contact">Get in touch</a>
        </div>
        <div class="line"></div>
    </div>
</div>
<div class="shadow3Div"><img class="shadow3" src="../../../assets/img/shadow3.png" alt=""></div>