<div class="pokedex flex center">
    <div class="left flex center"><img src="../../../../assets/img/pokedex.png" alt=""></div>
    <div class="right flex">
        <h2>Pokedex</h2>
        <h3>JavaScript | HTML | CSS | Api</h3>
        <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information. </p>
        <div class="buttons"><a target="_blank" class="liveButton" href="https://sascha-nyssen.developerakademie.net/pokedex/index.html">Live test</a>
        <a class="gitButton" target="_blank" href="https://github.com/cyborg-s/pokedex"> GitHub</a></div>
    </div>
</div>