<div class="contact">
  <div class="headerContact flex center">
    <div class="line"></div>
    <h1>Contact</h1>
  </div>
  <div class="contactForm flex">
    <div class="left">
      <h2 *ngIf="languageService.currentLanguage === 'en'">Got a problem to solve?</h2>
      <h2 *ngIf="languageService.currentLanguage === 'de'">Haben Sie ein Problem zu lösen?</h2>
      <p *ngIf="languageService.currentLanguage === 'en'">
        I bring creative solutions and commitment to realise your projects efficiently and successfully. With my knowledge, I will help you to achieve your goals. Let's work together and achieve great results!
      </p>
      <p *ngIf="languageService.currentLanguage === 'de'">
        Ich bringe kreative Lösungen und Engagement mit, um Ihre Projekte effizient und erfolgreich umzusetzen. Mit meinem Wissen helfe ich Ihnen, Ihre Ziele zu erreichen. Lassen Sie uns zusammenarbeiten und großartige Ergebnisse erzielen!
      </p>
      <p *ngIf="languageService.currentLanguage === 'en'">Need a Frontend developer? Contact me!</p>
      <p *ngIf="languageService.currentLanguage === 'de'">Suchen Sie einen Frontend-Entwickler? Kontaktieren Sie mich!</p>
    </div>
    <div class="right flex">
      <form class="flex form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input
          [(ngModel)]="contactData.name"
          #name="ngModel"
          type="text"
          id="name"
          name="name"
          placeholder="Your Name.."
          required
          #nameRef="ngModel"
         [ngClass]="{'error': nameRef.invalid && nameRef.touched}"
        />
        @if (!name.valid && name.touched){
          <span>Your name is required</span>
        }
        <input
          [(ngModel)]="contactData.email"
          #email="ngModel"
          type="email"
          id="email"
          name="email"
          placeholder="Your E-Mail.."
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          #emailRef="ngModel"
          [ngClass]="{'error': emailRef.invalid && emailRef.touched}"
        />
        @if (!email.valid && email.touched){
          <span>Your email is required</span>
        }
        <textarea
          #message="ngModel"
          minlength="4"
          [(ngModel)]="contactData.message"
          id="message"
          name="message"
          placeholder="Write something.."
          style="height: 200px"
          required
          #messageRef="ngModel"
          [ngClass]="{'error': messageRef.invalid && messageRef.touched}"
        ></textarea>
        @if (!message.valid && message.touched){
          <span>Your message is empty</span>
        }
        <div class="check flex">
          <input type="checkbox" name="policy" id="policy" required [(ngModel)]="isChecked"/>
          <p *ngIf="languageService.currentLanguage === 'en'">
            I've read the
            <a target="_blank" class="privacy" href="privacy">privacy policy</a>
            and agree to the processing of my data as outlined.
          </p>
          <p *ngIf="languageService.currentLanguage === 'de'">
            Ich habe die
            <a target="_blank" class="privacy" href="privacy">Datenschutzbestimmungen</a>
            gelesen und stimme der Verarbeitung meiner Daten wie beschrieben zu.
          </p>
        </div>
        <button *ngIf="languageService.currentLanguage === 'en'" [ngClass]="{ 'enabled-button': isFormValid(), 'disabled-button': !isFormValid() }" [disabled]="!isFormValid()" class="submit">Send massage :)</button>
        <button *ngIf="languageService.currentLanguage === 'de'" [ngClass]="{ 'enabled-button': isFormValid(), 'disabled-button': !isFormValid() }" [disabled]="!isFormValid()" class="submit">Nachricht Abschicken :)</button>
      </form>
    </div>
  </div>
  <div class="goUp">
    <a href="#me">
      <img src="../../../assets/img/learningtransparent.png" alt="" />
    </a>
  </div>
</div>
<div class="shadow5Div">
  <img class="shadow5" src="../../../assets/img/shadow5.png" alt="">
  <div #succsess class="succsess none"><p>Succsess!</p></div>
</div>