.background{
    z-index: -1;
    position: absolute;
    top: 177.6px;
    height: 2000px;
    right: -250px;
}

#contact{
    overflow-y: hidden;
}

@media (max-width: 390px){
    .background{
        top: -115px;
        right: -780px;
        box-sizing: border-box;
    }

    app-portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}