img {
  height: 339px;
}

.join {
  height: 339px;
  gap: 35px;
  justify-content: center;
  > .left {
    width: 620px;
    justify-content: center;
  }
  > .right {
    flex-direction: column;
    width: 513px;
    height: 339px;
    justify-content: end;
    gap: 35px;
    > h2 {
      margin: 0;
      font-size: 32px;
      font-weight: 700;
      color: #9747ff;
    }
    > h3 {
      font-size: 23px;
      font-weight: 400;
      color: #70e61c;
      margin: 0;
    }
    > p {
      margin: 0;
      font-size: 16px;
      color: #ffffff;
      font-weight: 400;
    }
    > .buttons {
      > a {
        text-decoration: none;
        gap: 10px;
        height: 58px;
        padding-inline: 30px;
        padding-block: 15px;
        border-radius: 10px;
      }
      > .liveButton {
        text-decoration: none;
        color: #ffffff;
        background-color: #9747ff;
        width: 152px;
        margin-right: 86px;
      }
      > .gitButton {
        text-decoration: none;
        color: #ffffff;
        width: 137px;
        border: 1px solid #70e61c;
      }
    }
  }
}

@media (max-width: 390px) {
  .join {
    flex-direction: column;
    height: auto;
    gap: 0;
    >.left{
        width: 342px;
        justify-content: center;
    }
    >.right{
        width: 95vw;
        align-items: center;
        >h3{
            text-align: center;
        }
        >p{
            text-align: center;
        }
    }
  }

  .liveButton{
    margin-right: 30px!important;
  }
}
